@using DotBot.Controllers
@model List<Rating>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1 class="h1" align="center">Рейтинг</h1>

<table class="table" style="vertical-align: middle;">
    <tr>
        <td></td>
        <td>Имя</td>
        <td>Уровень</td>
        <td>Общая мощь</td>
        <td>Брак</td>
    </tr>

    @foreach(var item in Model)
    {
        <tr onclick="document.location = '@item.profileUrl';">
            <td><img src="@item.photoUrl" /></td>
            <td>@item.Name</td>
            <td>@item.Lvl</td>
            <td>@item.Strength (+@item.itemStrength)</td>
            @{
                if (@item.IsMarriage)
                {
                    <td style="background-color:#d3808075;">В браке</td>
                    ;
                } else
                {
                    <td style="background-color:#91d38075;">Одиночка</td>
                    ;
                }

            }
        </tr>
    }
</table>

